aside {
  width: 250px;
}

.show {
  transform: translateX(0);
}

@media screen and (max-width: 1000px) {
  aside {
    width: 55%;
    max-width: 300px;
    height: calc(100vh - 60px);
    position: fixed;
    z-index: 1;
    background-color: var(--primary);
    transform: translateX(calc(-100vw - 300px));
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0;
  }

  aside::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(2px);
    left: 100%;
  }
}
