* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ccc;
}

.App > div {
  margin: auto;
  max-width: 2000px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a,
a:visited {
  text-decoration: none;
  color: unset;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
