:root {
  --primary: #1c252f;
  --primary-shadow: #1c252f3f;
  --primary-transparent: #1c252fa9;
  --secondary: #213c54;
  --title: #ffffff;
  --text: #d0dbeb;
  --text-transparent: #d0dbeb42;
  --text-hover: #b9c3d12a;
  --action: #00c6b6;
  --action-transparent: #00c6b5d2;
  --contrast: #bf8620;
  --selected: #007c80;
  --error: rgb(253, 85, 85);
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../../assets/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../../assets/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../assets/fonts/poppins/Poppins-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--secondary);
  scroll-behavior: smooth;
}

.App > div {
  margin: auto;
  max-width: 2000px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App > .login {
  min-height: calc(100vh - 60px);
}

a,
a:visited {
  text-decoration: none;
  /* color: unset; */
}

*::selection {
  background-color: var(--selected);
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 10px;
}
::-webkit-scrollbar-button:increment {
  display: none;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 20px;
  border: 2px solid var(--text);
}
::-webkit-scrollbar-track {
  background-color: var(--primary);
  border-radius: 0px;
}

@media screen and (max-width: 425px) {
  * {
    font-size: 15px;
  }
}
