.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--title);
  gap: 2rem;
}

.text {
  font-size: 12px;
}

.link {
  font-size: 13px;
  margin-left: 2rem;
  color: var(--action);
}
