.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem;
  height: 100%;
  color: var(--title);
  gap: 1rem;
}

.container > p {
  font-size: 0.8rem;
}

.appTitle {
  font-size: 3rem;
}

.link {
  margin-right: 1rem;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: var(--title);
  padding: 0 1rem;
}

.aboutLink {
  color: var(--action);
  margin-left: 1rem;
  font-size: 12px;
}

.aboutText {
  font-size: 12px;
}

.icon {
  color: var(--action);
  padding-bottom: -3px;
}
