.btnNext {
  border: none;
  outline: none;
  padding: 10px 25px;
  color: var(--action);
  background-color: var(--secondary);
  border: 1px solid var(--action);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.616);
  border-radius: 8px;
  z-index: 100;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btnNext:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btnNext:active {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0);
}
