.background {
  position: sticky;
  top: 60px;
  height: calc(100vh - 80px);
  overflow: auto;
}

.categories {
  padding: 15px 0 15px 30px;
  color: var(--title);
}

.background::-webkit-scrollbar-track {
  background-color: unset;
  border-radius: 0px;
}

.item {
  list-style: none;
}

.listButton {
  text-decoration: none;
  position: relative;
  margin-bottom: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  font-family: inherit;
}

.listItem {
  text-decoration: none;
  position: relative;
  margin-bottom: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  font-family: inherit;
  font-size: 0.75rem;
  color: var(--text);
}

.listItem::after {
  content: '';
  position: absolute;
  background-color: var(--text);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.25s;
}

.listItem:hover::after,
.listItem:active::after {
  width: 100%;
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 1rem;
}

h4 {
  font-size: 0.9rem;
  margin: 0.8rem 0;
}

.flexalign {
  display: flex;
  align-items: center;
}

.iconalign {
  margin-bottom: -2px;
  margin-right: 4px;
}

/* active link */

.activeLink {
  color: var(--contrast) !important;
}

.activeLink::after {
  content: '';
  position: absolute;
  background-color: var(--contrast);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.25s;
  display: block;
}

.activeLink:hover::after,
.activeLink:active::after {
  width: 100%;
}

@media (max-width: 1000px) {
  .background {
    height: 100%;
    overflow: auto;
  }
}
