.categories {
  padding-left: 40px;
  position: sticky;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 250px;
}

.listItem {
  text-decoration: none;
  color: #333;
  position: relative;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
}

.listItem::after {
  content: '';
  position: absolute;
  background-color: #333;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.25s;
}

.listItem:hover::after,
.listItem:active::after {
  width: 100%;
}

.list {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-left: 1rem;
}

h4 {
  font-size: 0.9rem;
  margin: 0.8rem 0;
}

.flexalign {
  display: flex;
  align-items: center;
}

.iconalign {
  margin-bottom: -2px;
  margin-right: 4px;
}

/* active link */

.activeLink {
  color: lightcoral;
}

.activeLink::after {
  content: '';
  position: absolute;
  background-color: lightcoral;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.25s;
  display: block;
}

.activeLink:hover::after,
.activeLink:active::after {
  width: 100%;
}

@media (max-width: 1000px) {
  .modalOut {
    position: absolute;
    left: -1rem;
    top: 0;
    z-index: 1;
    background-color: #fff;
    width: 60%;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    align-items: center;
    box-shadow: 25px -4px 37px -9px rgba(0, 0, 0, 0.53);
    padding-bottom: 2rem;
    padding-top: 2rem;
    transition: all 0.5s ease;
    transform: translateX(-200%);
  }

  .ModalIn {
    position: fixed;
    left: -1rem;
    top: 0;
    z-index: 1;
    background-color: #fff;
    width: 60%;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    align-items: center;
    box-shadow: 25px -4px 37px -9px rgba(0, 0, 0, 0.53);
    padding-bottom: 2rem;
    padding-top: 2rem;
    transition: all 0.5s ease;
    transform: translateX(0);
  }
}
