.gridContainer {
  width: 100%;
  padding: 40px 40px 50px 40px;
  column-gap: 20px;
  row-gap: 40px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  position: relative;
}

.btnContainer {
  display: flex;
  justify-content: end;
  padding: 40px;
}

.btnNext {
  border: none;
  outline: none;
  padding: 10px 25px;
  color: #3d3d3d;
  background-color: #ffffff;
  border: 1px solid #3d3d3d;
  border-radius: 8px;
  z-index: 100;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btnNext:hover {
  background-color: #3d3d3d;
  color: #ffffff;
}
/* 
@media screen and (max-width: 1390px) {
  .btnContainer {
    grid-column: 1 / 5;
  }
}

@media screen and (max-width: 1120px) {
  .btnContainer {
    grid-column: 1 / 4;
  }
}

@media screen and (max-width: 850px) {
  .btnContainer {
    grid-column: auto;
  }
} */
