.gridContainer {
  width: 100%;
  padding: 40px 40px 50px 40px;
  column-gap: 20px;
  row-gap: 40px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  position: relative;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

/* 
@media screen and (max-width: 1390px) {
  .btnContainer {
    grid-column: 1 / 5;
  }
}

@media screen and (max-width: 1120px) {
  .btnContainer {
    grid-column: 1 / 4;
  }
}

@media screen and (max-width: 850px) {
  .btnContainer {
    grid-column: auto;
  }
} */
