.listContainer {
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-transparent);
  z-index: 1;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 75%;
  color: var(--title);
}

.status {
  background-color: var(--text-transparent);
  padding: 3px 8px;
  backdrop-filter: blur(3px);
  border-radius: 5px;
}

.content span {
  font-size: 0.9rem;
}

.content a {
  color: var(--title);
}

.content h2 {
  text-align: center;
  font-size: 1.5rem;
}

.meta {
  display: flex;
  justify-content: space-between;
}
