.container {
  width: 100%;
  padding: 4rem;
}

.infoContainer {
  width: 60%;
  color: var(--title);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 5rem;
}

.infoContainer p > span {
  color: var(--primary);
  margin-right: 1rem;
}

.title {
  font-size: 2.2rem;
}

/* storyline */

.poster {
  max-width: 200px;
  height: 100%;
}

.storylineCotnainer {
  display: flex;
}

.storylineInfo {
  margin: 0 2rem;
}

.storylineList {
  list-style: none;
}

.storylineItem {
  margin-bottom: 0.7rem;
  display: flex;
}

.genres {
  display: flex;
  gap: 0.5rem;
}

/* carousel */

.carouselContainer {
  overflow: hidden;
}

.carouselList {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.carouselBox {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 95%;
  transition: 0.2s all ease-in;
  cursor: pointer;
}

.carouselBox picture {
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: auto;
}

.carouselBox > p {
  display: inline-block;
  margin: 0 auto;
  color: var(--title);
  font-size: 16px;
}

.carouselBox p:last-child {
  color: var(--text-transparent);
}

.carouselImg {
  transition: 0.2s all ease-in;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.carouselImg:hover {
  transform: scale(1.1);
}

.carouselImg:active {
  transform: scale(1);
}
