.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  gap: 20px;
  height: 100%;
}

.logo {
  display: none;
}

.navButton {
  background-color: transparent;
  border: none;
  height: 3rem;
  width: 5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  transition: 0.09s ease-in;
  z-index: 3;
}

.navButton:hover {
  background-color: var(--text-hover);
}

.navButton:active {
  background-color: var(--text-hover);
}

.linea1,
.linea2,
.linea3 {
  width: 25px;
  height: 3px;
  opacity: 1;
  background-color: var(--text);
  transition: all 0.3s ease;
}

.toggle .linea1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .linea2 {
  opacity: 0;
}

.toggle .linea3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Search bar */

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-content: flex-end;
}

.search {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  padding: 5px 35px 5px 15px;
  border-radius: 5px;
  width: 100%;
  font-size: 0.8rem;
  transition: all 0.2s ease-in;
  background-color: var(--text);
  color: var(--secondary);
}

.search:focus {
  outline: none;
}

.btnSearch {
  position: absolute;
  border: none;
  border-radius: 100%;
  top: -1px;
  right: 0px;
  z-index: 1;
  height: 35px;
  width: 35px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loginContainer {
  color: var(--action);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.loginBtn {
  font-size: 0.8rem;
  text-align: center;
  transition: color 0.2s ease;
  color: var(--action);
}

.loginBtn:hover {
  color: var(--title);
}

@media (min-width: 1000px) {
  .navButton {
    display: none;
  }

  .logo {
    display: flex;
  }

  .navbar {
    justify-content: space-around;
  }

  .search {
    width: 50%;
  }

  .searchBar {
    flex: 2 1 auto;
  }

  .loginContainer {
    flex: 1 1 auto;
  }

  .loginBtn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    padding: 0 20px;
    gap: 30px;
  }

  .searchBar {
    flex-grow: 1 !important;
  }
}
