.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.bigText {
  font-size: 8rem;
  color: var(--title);
}

.smallText {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--title);
}

@media (max-width: 1000px) {
  .bigText {
    font-size: 4rem;
  }

  .smallText {
    font-size: 1.5rem;
  }
}
