.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.bigText {
  font-size: 8rem;
  color: var(--title);
}

.smallText {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--title);
}

.btn {
  background-color: var(--secondary);
  color: var(--action);
  padding: 1rem 2rem;
  cursor: pointer;
  border: 1px solid var(--action);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.616);
  border-radius: 8px;
}

.btn:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn:active {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0);
}

@media (max-width: 1000px) {
  .bigText {
    font-size: 4rem;
  }

  .smallText {
    font-size: 1.5rem;
  }
}
