.container {
  display: flex;
  background-color: transparent;
}

.container div {
  background-color: var(--text);
  width: 20px;
  height: 20px;
  object-fit: cover;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  position: relative;
}

.container div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--fill);
  height: 100%;
  background-color: rgb(236, 252, 12);
}
