.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;

  height: 100%;
  color: var(--title);
  text-align: center;
}

.title {
  font-size: 2.5rem;
}

.img {
  width: 423px;
  height: 423px;
}

.btn {
  background-color: var(--secondary);
  color: var(--action);
  padding: 1rem 2rem;
  cursor: pointer;
  border: 1px solid var(--action);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.616);
  border-radius: 8px;
}

.btn:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn:active {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0);
}

@media (max-width: 1000px) {
  .title {
    font-size: 1.5rem;
  }

  .img {
    width: 270px;
    height: 270px;
  }
}
