.container {
  min-height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  border-radius: 8px;
}

.image {
  border-radius: 5px 5px 0 0;
  height: 80%;
  overflow: hidden;
  position: relative;
  background-color: var(--primary);
  animation: skeleton 1s ease infinite;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  backdrop-filter: blur(5px);
}

.info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary);
}

.info h2 {
  width: 100%;
  height: 30px;
  background-color: var(--text);
  font-weight: 400;
  font-size: 0.8rem;
  color: #3d3d3d;
  animation: skeleton 1s ease infinite;
}

@keyframes skeleton {
  from {
    background-color: var(--primary);
  }
  to {
    background-color: var(--primary-transparent);
  }
}

@media screen and (max-width: 1120px) {
  .container {
    min-height: 300px;
  }

  .info {
    min-height: 103px;
  }
}
